.form{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    &__element{
        width: 400px;
        height: 400px;
        background-color: rgba(0,0,0,0.8);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
    }
}


.input{
    width: 100%;
    padding: 10px;

    &__container{
        width: 100%;
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.message{
    margin: 10px 0;
    color: #fff;
    font-style: italic;
    
}

.button{
    background-color: transparent;
    outline: none;
    color: #fff;
    padding: 15px;
    border: 1px solid #fff;
    cursor: pointer;
}

.hide{
    display:none;
}

.unhide{
    display: flex;
}
